<%# navigation only for admin users%>
<% if admin_signed_in? %>
  <div id="admin-navigation">
    <div class="container">
      <div class='row'>
        <div class='col-sm-5'>
          <div class="navbar-header">
            Logged in as admin user:
            <%= current_admin.email %>
          </div>
        </div>
        <div class='admin-links'>
          Admin links:
          <ul>
            <li><%= link_to 'Policies', admin_policies_path %></li>
            <li><%= link_to 'Datasets', admin_datasets_path %></li>
            <li><%= link_to 'Data Groups', admin_data_groups_path %></li>
            <li><%= link_to 'Action Links', admin_action_links_path %></li>
            <li><%= link_to 'Logout', destroy_admin_session_path, :method => :delete %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>