<li class= "<%=active_page(root_path)%>">
  <%= link_to 'Home', root_path %>
</li>
<li class= "<%=active_page(policies_path)%>">
  <%= link_to 'Policies & Programs', policies_path %>
</li>
<li class= "<%=active_page(data_path)%>">
  <%= link_to 'Data Browser', data_path %>
</li>
<li class= "<%=active_page(about_path)%>">
  <%= link_to 'About', about_path %>
</li>